<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Polarity</p>
    <p><%= polarity %>%</p>
    <iframe src="https://twitter.com/search?q=varane&src=typed_query" width="500"></iframe>
  </body>
</html>
